@import "tailwindcss";

@import "@fontsource/inter/400.css"; 
@import "@fontsource/inter/700.css"; 

@layer utilities {
  @keyframes gradient-xy {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
  .animate-gradient-xy {
    animation: gradient-xy 3s ease infinite;
  }
}

body {
  font-family: "Inter", sans-serif;
}
